img {
    width: 100%;
}

body {
    background: #161616;
    font-family: 'Times New Roman', Times, serif;
    margin: 100px;
    color: #756ca4;
    border-top: 30px solid #f0f0f0;
}

h1 {
    color: #d9d2ff;
}

h2 {
    color: #a199cb;
}

section {
    padding-top: 20px;
}