img {
    width: 100%;
}

body {
    background: #161616;
    font-family: 'Times New Roman', Times, serif;
    color: #a199cb;
}

h1 {
    color: #d9d2ff;
}

.details section p {
    margin: 20px;
    color: #756ca4;
}